{include file='public@inc:header' /}
</head>
<body>

<h1 class="tit" id="liuyan"><img class="mt70 mb70" src="/static/images/1-7.png"/></h1>
	<div class="container cf form00">
		<div class="fl"><img src="/static/images/ll_17.jpg" alt="" style="float: right;">
		</div>
		<form class="center" action="" method="post" onsubmit="return false;">
			<p>
				<label for="">占卜：</label>
				<textarea name="msg" id="msg" placeholder="请输入您的占卜信息" cols="30" rows="10"></textarea>
			</p>
			<input type="submit" value="" id="send">
        </form>
	</div>
	<p class="container">&nbsp;</p>

<?php /**
<h1>IM Work</h1>
<h4><a href="logout">退出</a></h4>
<select name="u_name" id="u_name">
<option value="all">全部</option>
{foreach $userList as $val}
<option value="{$val}">{$val}</option>
{/foreach}
</select>
<input type="text" id="msg">
<button type="button" id="send">send</button>
*/?>

<h4 style="text-align:center;">
	<a href="logout">退出</a>
	{if $user_name == 'admin' && $user_id == 1}
	<a href="user/list">管理</a>
	{/if}
</h4>
<div id="content" style="text-align:center;"></div>
</body>

<script type="text/javascript">
	
	var ws, name;
	name = '{$user_name}';
	
	function connect() {
		//ws = new WebSocket("ws://www.workerman.com:2346");
		ws = new WebSocket("ws://123.56.192.63:2346");
        document.getElementById("send").onclick = onsend;
        ws.onopen = onopen;
        ws.onmessage = onmessage;
		ws.onclose = function() {
			console.log("连接关闭");
		};
		ws.onerror = function() {
			console.log("出现错误");
		};
	}
	
	// 建立连接
	function onopen()
	{
		if (!name) {
			name = prompt('输入你的名字：', '');
			if (!name || name=='null') {  
				name = '游客'.replace(/"/g, '\\"');
			} else {
				name = name.replace(/"/g, '\\"');
			}
		}
		var login_data = '{"type":"login", "client_name":"'+name+ '_Q' +'", "room_id":"room_1"}';
		console.log(login_data);
		ws.send(login_data);
	}
	
	// 发送消息
	function onsend()
	{
		//var u_name = document.getElementById("u_name").value;
		var u_name = name;
		var msg = document.getElementById("msg").value;
		var message = '{"type":"say", "client_name":"' + u_name + '", "data":"' + msg + '", "room_id":"room_1"}';
		ws.send(message);
	}
	
	// 接收消息
	function onmessage(e)
	{
		var data = eval("("+e.data+")");
		switch (data['type']) {
			// ping
			case 'ping':
				ws.send('{"type":"pong"}');
				break;
			// send
			case 'say':
				document.getElementById("content").innerHTML += "<h2>" + data['data'] + "</h2>";
				break;
			// open
			case 'login':
				document.getElementById("content").innerHTML += "<h2>" + data['data'] + "</h2>";
				break;
			// lonout
			case 'logout':
				ws.close();
		}
	}
	
	window.onload = function () {
        connect();
    };
</script>

</html>
