{include file='public@inc:header' /}
</head>
<body>

<div class="images">
	<img src="/static/images/ous.jpg" class="img"/>
</div>
<div class="message">
	<h1><p>占卜信息!</p></h1>
	<div class="message_li" >
		<ul id="content">
			<li class="client">MESSAGE</li>
		</ul>
	</div>
</div>

<div style="display:none">
<input type="text" id="msg">
<button type="button" id="send">send</button>
<div id="content2"></div>
<input type="button" value=" 点击 " id="trig" />
<input type="button" value=" 循环 " id="circulation" /><br /><br />
<input type="button" value=" 停止 " id="clear" /><br /><br />
</div>

</body>

<script type="text/javascript">
	
	var ws, name;
	name = '{$user_name}';
	
	function connect() {
		//ws = new WebSocket("ws://www.workerman.com:2346");
		ws = new WebSocket("ws://123.56.192.63:2346");
        //document.getElementById("send").onclick = onsend;
		$("#send").on('click', onsend);
        ws.onopen = onopen;
        ws.onmessage = onmessage;
		ws.onclose = function() {
			console.log("连接关闭，定时重连");
			connect();
		};
		ws.onerror = function() {
			console.log("出现错误");
		};
	}
	
	// 建立连接
	function onopen()
	{
		if (!name) {
			name = prompt('输入你的名字：', '');
			if (!name || name=='null') {  
				name = '游客'.replace(/"/g, '\\"');
			} else {
				name = name.replace(/"/g, '\\"');
			}
		}
		var login_data = '{"type":"login", "client_name":"'+name+ '_H' +'", "room_id":"room_1"}';
		console.log(login_data);
		ws.send(login_data);
	}
	
	// 发送消息
	function onsend()
	{
		//var u_name = document.getElementById("u_name").value;
		var u_name = name;
		var msg = document.getElementById("msg").value;
		var message = '{"type":"say", "client_name":"' + u_name + '", "data":"' + msg + '", "room_id":"room_1"}';
		ws.send(message);
	}
	
	// 接收消息
	function onmessage(e)
	{
		var data = eval("("+e.data+")");
		switch (data['type']) {
			// ping
			case 'ping':
				ws.send('{"type":"pong"}');
				break;;
			// send
			case 'say':
				value = '<li class="client">';
				value += '[' + data['time'] + '] @' + data['uName'] + '说:<br>';
				value += data['data'];
				value += '</li>';
				$('#content').prepend(value);
				onsound();
				//document.getElementById("content").innerHTML += '<li class="client">' + data['data'] + '</li>';
				break;;
			// open
			case 'login':
				value = '<li class="client">' + data['data'] + '</li>';
				$('#content').prepend(value);
				//document.getElementById("content").innerHTML += '<li class="client">' + data['data'] + '</li>';
		}
	}
	
	// 提示音
	function onsound() 
	{
		$('#chatAudio')[0].play();
	}
	
	$(function(){
	    $('<audio id="chatAudio"><source src="/static/sound/8855.mp3" type="audio/mpeg"></audio>').appendTo('body');
	    $("#trig").on('click', onsound);
		connect();
	});
	
	
	//循环播放
    /*$(function(){
        $('<audio id="chatAudio"><source src="/static/sound/8855.mp3" type="audio/mpeg"></audio>').appendTo('body');
        var circulation;
        //计时器
        $("#circulation").click(function(){
            circulation = setInterval("$('#chatAudio')[0].play()", 1000); 
            return true; 
        });
        //清除计时器
        $("#clear").click(function(){
            clearInterval(circulation);
        }); 
    });*/
	
</script>

</html>
