<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IM 修改密码</title>
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
</head>
<body>
<h1>IM 修改密码</h1>
<div class="">
	<form action="" method="post">
		<p>用户名：<input type="text" name="user_name" id="user_name" value="{$showInfo.user_name}" disabled></p>
		<p>密  码：<input type="password" name="user_pwd" id="user_pwd" value=""></p>
		<p>
			<input type="hidden" name="uid" id="uid" value="{$showInfo.id}">
			<input type="button" value="提交" id="edit_btn">
		</p>
	</form>
</div>
</body>

<script>

    $('#user_pwd').keydown(function(e){
        if(e.keyCode==13){
            $('#edit_btn').click();
        }
    })

    $('#edit_btn').on('click', function(){
		
		var ajax_url = "/user/update";
		var query = new Object();
		query.user_name = $('#user_name').val();
		query.user_pwd = $('#user_pwd').val();
		query.id = $('#uid').val();
		
		$.ajax({
			url: ajax_url,
			type: 'post',
			data: query,
			dataType: 'json',
			success: function (res) {
				if(res.code){
					alert(res.message);
					location.href = "/user/list";
				}else{
					alert(res.message);
				}
			},
			error:function(request, msg, e){
				alert(msg);
			}
		});
		
    })
</script>

</html>
